<!DOCTYPE html>
<html lang="en">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <header>
        <div id="hat">
            <a class="home" href="/">MKPedik</a>
            <a class="homeicon" href="/"></a>

            {% if g.user %}
                <img class="inbox" style="width: 33px; height: 43px;" src={{url_for('static', filename='mailbox.png')}} onclick="window.location.href = '/messages/inbox'" />
                <img class="send" style="width: 33px; height: 43px;" src={{url_for('static', filename='send-icon.png')}} onclick="window.location.href = '/messages/send'"/>

                <a class="reg" href="/users/getme">{{g.user["username"]}}</a>
                <a class="login" href="/auth/logout">Выход</a>
            {% else %}
                <a class="reg" href="/auth/register">Регистрация</a>
                <a class="login" href="/auth/login">Вход</a>
            {% endif %}
        </div>

        {% block header %}{% endblock %}
    </header>

    <body>
        {% block content %}{% endblock %}
    </body>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
</html>

<script>
    {% block script %}{% endblock %}
</script>
