{% extends "base.html" %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
{% block content %}
<div class= main>
        <h2 class="title">МКПедия.</h2>
        <hr />
        <h3>На данный момент написано {{article_count}} статья/и/ей. Регистрируйтесь и вносите свой вклад!</h3>
<!--         <h4>Важные ссылки</h4> -->
</div>
<div class="links">
<ul>
        <p><a href="/articles/getlist">Список статей</a></p>

        <p><a href="/articles/constructor_file">Конструктор статей (файловый режим)</a></p>
        <p><a href="/articles/constructor">Конструктор статей (встроенный редактор)</a></p>


        <p><a href="/users/getlist">Список пользователей</a></p>

        <p><a href="/uploader/upload">Загрузка файлов (для создателей статей)</a></p>
</ul>
</div>
        {% if g.user and g.user["admin"] %}
            <p><a href="/admin/panel">Админ-панель</a></p>
        {% endif %}
    {% endblock %}
</body>
