{% extends "base.html" %}


{% block content %}
    <h1>Вы</h1>
    <h4>
        Имя пользователя: {{user.username}}<br/>
        Сделал {{formatted_commits}}<br/>
        Ваше описание: {{user.profile_description}}<br/>
        <form method="POST" action="/users/setdescription">
            <label for="description">Изменить описание профиля</label>
            <input name="description" id="description" maxlength="512">
            <button type="submit">Изменить</button>
        </form>
    </h4>
{% endblock %}
