{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}

    <form method="post">
        <label for="username">Имя пользователя</label>
        <input name="username" id="username" required>

        <p></p>

        <label for="password">Пароль</label>
        <input name="password" id="password">

        <p class="ifnot">Если вы ещё не зарегистрированы, кликните <a href="/auth/register">сюда</a>.</p>

        <input type="submit" value="Войти">
    </form>
{% endblock %}
